<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PESUVariance - HomePage</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={{url_for('static', filename = '/assets/img/favicon.png')}} rel="icon">
  <link href={{url_for('static', filename = '/assets/img/apple-touch-icon.png')}} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href={{url_for('static', filename = '/assets/vendor/bootstrap/css/bootstrap.min.css')}}/>
  <link rel="stylesheet" href={{url_for('static', filename = '/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}/>
  <link rel="stylesheet" href={{url_for('static', filename = '/assets/vendor/boxicons/css/boxicons.min.css')}}/>
  <link rel="stylesheet" href={{url_for('static', filename = '/assets/vendor/glightbox/css/glightbox.min.css')}}/>
  <link rel="stylesheet" href={{url_for('static', filename = '/assets/vendor/remixicon/remixicon.css')}}/>
  <link rel="stylesheet" href={{url_for('static', filename = '/assets/vendor/swiper/swiper-bundle.min.css')}}/>

  <!-- Template Main CSS File -->
  <!--link rel="stylesheet" href="static/assets/css/style.css"/-->
  <link rel="stylesheet" type="text/css" href= {{url_for('static', filename = '/assets/css/style.css')}}/>

  <!-- =======================================================
  * Template Name: KnightOne - v4.6.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">PESUVariance</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link" href="profile">User Profile</a></li>
              <li><a class="nav-link scrollto" href="#services">Services</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

          <a href="logout" class="get-started-btn scrollto">Log out</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>PESUVariance - Learn, Grow & Challenge Yourself!</h1>
          <h2>Computer Science/Data Science educational platform specifically
aimed towards PES Students or beginners</h2>
          <!--a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a-->
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= User Profile Section ======= -->
    <!--section id="userprofile" class="userprofile">
      <div class="container">

        <div class="section-title">
          <h2>Your Activity</h2>
		  
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div-->

		<!--embed width="100%" height="500px" src={{url_for('static', filename = '/save-answersheets.js')}}-->
		

        <!--div class="row content">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p-->
            <!--a href="#" class="btn-learn-more">Learn More</a-->
          <!--/div>
        </div>

      </div>
    </section--><!-- End User Profile Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We provide many fun quizzes and competitions to test your knowledge with.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="quizmain">Quizzes</a></h4>
              <p>Click and select which quiz you wanna participate in</p>
            </div>
          </div>
		
		  <!--div class="d-flex p-2 bd-highlight"-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="competitions">Competitions</a></h4>
              <p>Click and select which competition you wanna participate in</p>
            </div>
          </div>
		</div>  
		

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p> Contact us for any grievances </p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.569307319702!2d77.53363105053474!3d12.935379990834912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3e468d8d36d3%3A0x694d74f6ac640acf!2sPES%20University!5e0!3m2!1sen!2sin!4v1637778002250!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line"></i>
                <h4>Location:</h4>
                <p>100 Feet Ring Road, Banashankari Stage III, Dwaraka Nagar, Banashankari, Bengaluru, Karnataka 560085</p>
              </div>

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>sravya.bg@gmail.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Call:</h4>
                <p>1234567890</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="https://formspree.io/f/xleanzdp" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>PESUVariance</h3>
      <p>Hope you liked it</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>PESUVariance</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={{url_for('static', filename = '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}></script>
  <script src={{url_for('static', filename = '/assets/vendor/glightbox/js/glightbox.min.js')}}></script>
  <script src={{url_for('static', filename = '/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}></script>
  <script src={{url_for('static', filename = '/assets/vendor/php-email-form/validate.js')}}></script>
  <script src={{url_for('static', filename = '/assets/vendor/purecounter/purecounter.js')}}></script>
  <script src={{url_for('static', filename = '/assets/vendor/swiper/swiper-bundle.min.js')}}></script>

  <!-- Template Main JS File -->
  <!--script href={{url_for('static', filename = '/assets/js/main.js')}}></script-->
  <script src={{url_for('static', filename = '/assets/js/main.js')}}></script>

</body>

</html>